* {
  box-sizing: border-box;
}

html {
  height: 100%;
  background-color: black;
}

.background {
  object-fit: contain;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  overflow: hidden;
  opacity: 0.5;
}

body {
  height: 100%;
  max-height: fit-content;
}

button {
  cursor: pointer;
}

img {
  height: 100%;
}

main {
  max-height: 100%;
}

header {
  color: rgb(33, 212, 33);
  border-bottom: solid 1px rgba(33, 212, 33, 0.411);
  font-weight: bold;
  background-color: rgba(73, 1, 73, 0.61);
  border-radius: 3px;
  height: 65px;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 18vw;
  max-height: 95px;
  width: 100%;
}

header h1 {
  margin: 0;
  font-size: 5.5vmin;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(235, 235, 235, 0.829);
  border: solid rgba(0, 0, 0, 0.877);
  margin: 5% auto;
  border-radius: 5px;
  color: rgb(68, 1, 68);
  padding: 15px;
  max-width: 800px;
  width: 90%;
}

form button {
  height: 45px;
  width: 125px;
  border-radius: 5px;
  border: solid 2px rgba(128, 0, 128, 0.493);
  background-color: rgb(12, 197, 12);
  font-weight: bold;
  color: rgb(68, 1, 68);
}

form h3 {
  font-size: 25px;
}

.start-form {
  flex-direction: column;
  border: solid black;
}

.question-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 25px;
}

.question-form label {
  font-weight: bold;
  font-size: 6vw;
}

.question-form .group label:not(li label) {
  display: flex;
  justify-content: center;
  text-align: center;
  font-weight: 500;
  font-size: 4.5vmin;
  margin-top: 15px;
}

.question-form ul {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  list-style-type: none;
  width: fit-content;
  margin-right: auto;
  margin-left: auto;
  width: 90%;
  min-width: 300px;
}

.question-form li {
  display: flex;
  align-items: center;
  width: 100%;
  line-height: 2em;
  border: solid 2px rgba(43, 0, 43, 0.192);
}

.question-form li:hover, .question-form li > *:hover {
  background-color: rgba(4, 182, 4, 0.226);
  cursor: pointer;
}

.question-form li:nth-of-type(n+2) {
  border-top: none;
}

.question-item label {
  font-size: 4vw;
  width: 100%;
}

.question-item li input {
  transform: scale(1.20);
  width: 25%;
}

.question-item ul label {
  text-align: center;
  font-size: 4.5vw;
  font-weight: 500;
  width: 100%;
  padding-right: calc(35% / 2);
}

.question-form button {
  width: 40%;
  max-width: 150px;
  height: 2em;
  border: solid 1px rgba(128, 0, 128, 0.322);
  margin-top: 10px;
  margin-bottom: 50px;
}

.questions-counter {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.questions-counter label {
  font-size: 4.2vw;
}

.next-question-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label.correct {
  font-weight: bold;
  color: rgb(0, 94, 0);
  margin: 10px 0 10vw 0;
  font-size: 6vmin;
}

label.wrong {
  font-weight: bold;
  color: rgb(228, 0, 0);
  margin: 10px 0 35px 0;
}

label.wrong-extra {
  color: rgb(92, 0, 92);
}

label.wrong-extra:nth-of-type(3) {
  margin-bottom: 25px;
}

.next-question-form button {
  height: 35px;
  margin-bottom: 50px;
}

.questions-counter {
  font-weight: bold;
}

#finished-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#finished-form label {
  font-weight: bold;
  font-size: 3vw;
  margin: 2vw 0 4vw 0;
}

#finished-form p {
  font-size: 2.7vw;
  margin-bottom: 7%;
}

#finished-form button {
  margin-bottom: 5%;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items:center;
  color: rgb(33, 212, 33);
  font-weight: bold;
  background-color: rgba(73, 1, 73, 0.555);
  height: 22vmin;
  min-height: 80px;
  max-height: 100px;
  width: 100%;
  border-top: solid 1px rgba(33, 212, 33, 0.37);
  padding: 10px 0;
  position: absolute;
  bottom: 0;
}

footer h2 {
  margin: 0;
  font-size: 16px;
  font-weight: 100;
  margin-top: 5px;
}

footer a {
  font-size: 8vw;
  font-size: 26px;
  margin: 0 3vmin;
  text-decoration: none;
  color: rgb(33, 212, 33);
}


@media only screen and (min-width: 400px) {
  footer a {
    font-size: 6vw;
  }
}


@media only screen and (min-width: 450px) {
  .start-form {
    flex-direction: row;
  }

  form h3 + button{
    margin-left: 25px;
  }

  .question-form label:not(.group label) {
    font-size: 3vh;
    margin: 2vw 0;
  }

  .question-form .group label:not(li label) {
    font-size: 2.3vh;
  }

  .question-item ul label {
    font-size: 2.3vh;
  }

  label.correct {
    font-size: 3.7vh;
  }

  .questions-counter label {
    font-size: 3.5vmin;
  }

  footer h2 {
    font-size: 2.3vh;
  }
}
  

@media only screen and (min-width: 600px) {
  label.correct {
    margin-bottom: 8vh;
  }

  .questions-counter label {
    font-size: 3vmin;
  }

  footer {
    flex-direction: row-reverse;
    justify-content: space-between;
    max-height: 10px;
    min-height: 65px;
    padding: 0 2vw 0 15px;
  }

  footer h2 {
    margin: 0;
  }

  footer a {
    font-size: 4vh;
  }
}

@media only screen and (min-width: 800px) {
  #finished-form p {
    font-size: 3vh;
  }
}


@media only screen and (min-width: 1000px) {
  #finished-form label {
    font-size: 4vh;
  }
}
